<br>
<h6>
	{{burger_name}}
</h6>

<button class="change-devoured text-muted" data-id="{{id}}" data-newDevoured="{{devoured}}">
	{{#if devoured}}Let's get another!{{else}}Nom nom nom!{{/if}}
</button>
<br>
